header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid black;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
