:root {
  --forest-green: #228b22;
}
* {
  background-color: #bcd0c7;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--forest-green);
}
header > * {
  margin: 10px;
  width: 66%;
  background-color: var(--forest-green);
}
header > h2 {
  background-color: var(--forest-green);
}
header > div > a {
  background-color: var(--forest-green);
}
/* main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2%;
  border: 2px solid black;
}
.about-me p {
  padding: 5%;
}
.emphasis {
  font-weight: bolder;
}
#cc {
  text-decoration: underline;
  font-weight: bolder;
  text-decoration-color: red;
}
#destination-cc {
  display: none;
  position: absolute;
  width: 560px;
}

#cc:hover #destination-cc {
  display: block;
}
.about-me img {
  width: 20%;
  height: auto;
  margin-bottom: 2%;
}
